# DB (local dev)
POSTGRES_USER=srikar
POSTGRES_PASSWORD=postgres
POSTGRES_DB=realestatepro
POSTGRES_HOST=localhost
POSTGRES_PORT=5555

# Optional: use this instead of pieces above
# DATABASE_URL=postgres://USERNAME:PASSWORD@localhost:5555/realestatepro?sslmode=disable

# Go API CORS
CORS_ORIGIN=http://localhost:3000